<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmallInfo.Reports.Properties.Settings.SMALLINFO_MDFConnectionString"
            connectionString="Data Source=gogreen\sqlexpress;Initial Catalog=SMALLINFO.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>